#content{
    max-width: 500px;
    margin: auto;
}

canvas{
    border: 3px solid #32a1ce;
}

.art{
    width: 500px;
    height: 50px;
    background-color: #fff;
    border: 3px solid #32a1ce;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.colors{
    width: 500px;
    /* height: 125px; */
    height: auto;
    background-color: #fff;
    border: 3px solid #32a1ce;
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.circle {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid #150135;
    margin: 4px;
    cursor: pointer;
  }

.icon{
    cursor: pointer;
}